.photo{
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  margin-top: 50px;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}
button{
  background: linear-gradient(135deg, #ff6a00, #ffb347,#1d2671);
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0,0,0,0.2);
}


button:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  background: linear-gradient(135deg, #ff3d00, #ff9800);
}

h1{
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
  text-shadow: 0 4px 10px rgba(0,0,0,0.4);
  letter-spacing: 1px;
}
body{
  background: linear-gradient(185deg, #1d2671, #c33764,#ff9800);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
}
.photo:hover{
      transform: scale(1.5);
     box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}